<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Shop:</strong>
    <%= item.shop_id %>
  </p>

  <p>
    <strong>Item type:</strong>
    <%= item.item_type %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= item.count %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
